<?xml version="1.0"?>
<config>
  <modules>
    <Programfive_Paymentgateway>
      <version>0.1.0</version>
    </Programfive_Paymentgateway>
  </modules>
  <global>
    <models>
      <paymentgateway>
        <class>Programfive_Paymentgateway_Model</class>
      </paymentgateway>
    </models>
    <helpers>
      <paymentgateway>
        <class>Programfive_Paymentgateway_Helper</class>
      </paymentgateway>
    </helpers>
    <blocks>
      <paymentgateway>
        <class>Programfive_Paymentgateway_Block</class>
      </paymentgateway>
    </blocks>
	<resources>
            <paymentgateway_setup>
                <setup>
                    <module>Programfive_Paymentgateway</module>
                </setup>
                <connection>				
                    <use>core_setup</use>
                </connection>
            </paymentgateway_setup>
            <paymentgateway_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </paymentgateway_write>
            <paymentgateway_read>
               <connection>
                <use>core_read</use>
              </connection>
            </paymentgateway_read>
        </resources>
	<fieldsets>
             <sales_convert_quote_payment>
                <netgiro_payment_type>
                    <to_order_payment>*</to_order_payment>
                </netgiro_payment_type>               
             </sales_convert_quote_payment>
        </fieldsets>
  </global>
  <default>
    <payment>
      <paymentgateway>
        <model>paymentgateway/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Netgiro payment gateway</title>
        <payment_action>sale</payment_action>
        <allowspecific>1</allowspecific>
		<specificcountry>IS</specificcountry>
        <sort_order>1</sort_order>
        <netgiropaymentoptions>1,2,3</netgiropaymentoptions>
		<redirectingmessage>Redirecting to Netgiro payment gateway...</redirectingmessage>		
      </paymentgateway>
    </payment>
  </default>
  <frontend>
    <routers>
      <paymentgateway>
        <use>standard</use>
        <args>
          <module>Programfive_Paymentgateway</module>
          <frontName>paymentgateway</frontName>
        </args>
      </paymentgateway>
    </routers>
  </frontend>
</config>
