<?xml version="1.0"?>
<config>
	<sections>
		<payment>
			<groups>
				<paymentgateway translate="label comment" module="paygate">
					<label>Netgiro payment gateway</label>
					<frontend_type>text</frontend_type>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<order_status translate="label">
							<label>New Order Status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</order_status>
						<allowspecific translate="label">
							<label>Payment Applicable From</label>
							<frontend_type>select</frontend_type>
							<sort_order>2</sort_order>
							<source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</allowspecific>
						<specificcountry translate="label">
							<label>Countries Payment Applicable From</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>3</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</specificcountry>
				
						 <netgiropaymentoptions translate="label">
						 <label>Allowed payment options</label>
						 <frontend_type>multiselect</frontend_type>
						 <source_model>Programfive_Paymentgateway_Model_Options</source_model>
						 <sort_order>4</sort_order>
						 <show_in_default>1</show_in_default>
						 <show_in_website>1</show_in_website>
						 <show_in_store>1</show_in_store>
						 </netgiropaymentoptions>
						<sort_order translate="label">
							<label>Sort Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</sort_order>
						<redirecturl translate="label">
							<label>Netgiro gateway URL</label>
							<comment>
								<![CDATA[Netgiro payment gateway url]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</redirecturl>  
						<redirectingmessage translate="label">						
							<label>Redirecting notice</label>
							<comment>
								<![CDATA[Message that will be shown while redirecting on Netgiro gateway]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</redirectingmessage>
						<applicationid translate="label">
							<label>Application ID</label>
							<comment>
								<![CDATA[Merchant identifier ]]>
							</comment>
							<frontend_type>text</frontend_type>
							<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</applicationid>
						<secretkey translate="label">
							<label>Secret Key</label>
							<comment>
								<![CDATA[Secret key - used in creating a digital signature.]]>
							</comment>
							<frontend_type>text</frontend_type>
							<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</secretkey>
						<maxnumberinstallments translate="label">
							<label>Max number of installments</label>
							<comment>
								<![CDATA[Maximum number of installments the user can choose to pay with.]]>
							</comment>
							<frontend_type>text</frontend_type>							
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</maxnumberinstallments>
						<redirectingmessage translate="label">
							<label>Redirecting notice</label>
							<comment>
								<![CDATA[Message that will be shown while redirecting on Netgiro gateway]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</redirectingmessage>
					</fields>
				</paymentgateway>
			</groups>
		</payment>
	</sections>
</config>
